.loader {
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 30px;
}
.introduction {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 199;
  background-color: #141516;
  svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 300px);
    path {
      fill: #141516;
    }
  }
  p {
    display: flex;
    color: white;
    font-size: 42px;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 1;
    span {
      display: block;
      width: 10px;
      height: 10px;
      background-color: white;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}
