
.wrapper {
    width: 100vw;
    height: 100vh;
    gap: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: clamp(2.5rem, 0.6356rem + 13.5593vi, 12.5rem);
        line-height: 0;
        font-weight: bolder;
        text-transform: uppercase;
    }
}

.container {
    position: absolute;
    bottom: 0;
    z-index: 30;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.word {
    display: flex;
}

.word span {
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: bottom;
    color: black;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
}

//eye animation
.eyes-follow-tired {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .eyelid {
            position: absolute;
            width: 220px;
            height: 100px;
            background-color: white;
            z-index: 400;
            top: -120px;
            animation: blink 4.5s infinite ease-in alternate;
            animation-delay: 1s;
        }

        @keyframes blink {
            0% {
                top: -120px;
            }

            95% {
                top: -120px;
            }

            100% {
                top: -50px;
            }
        }

        .eyes {
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .eye {
                border-radius: 50%;
                height: 90px;
                width: 90px;
                background-color: #f3efef;

                .pupil {
                    position: absolute;
                    background-color: #382e25;
                    border-radius: 50%;
                    width: 18px;
                    height: 18px;
                    left: 50px;
                    top: 35px;
                }
            }
        }
    }

    .tiredness {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 150px;

        .header {
            font-size: 23px;
            margin-bottom: 10px;
            font-style: italic;
        }

        input {
            transform: scale(1.3);
        }
    }
}