@tailwind base;
@tailwind components;
@tailwind utilities;

body,
:root {
  width: 100vw;
  height: 100vh;
  height: 100%;
  cursor: wait;

}
.container{
  width: 90%;
  margin-inline: auto;
}
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .header-items .header-item,
.logo {
  padding: 1em 2em;
}
a {
  text-decoration: none;

  text-transform: uppercase;
}
.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
  transform-origin: bottom;
}
.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
  transform-origin: top;
}
