*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html::-webkit-scrollbar {
  display: none;
}

body,
:root {
  max-width: 100vw;
  max-height: 100vh!important;
  height: 100vh;
  cursor: wait;
  max-width: 100%;
  user-select: none;
  -webkit-user-select: none !important;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .header-items .header-item,
.logo {
  padding: 1em 2em;
}
a {
  text-decoration: none;

  text-transform: uppercase;
}
.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
  transform-origin: bottom;
}
.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
  transform-origin: top;
}
