.main {
  min-height: 100vh;
}
.header {
  position: relative;
  .logo {
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: -15px;
    padding-left: 3rem;
    padding-top: 1rem;
    @media (max-width: 480px) {
      font-size: 2.5rem;
      letter-spacing: -11px;
      padding-left: 0rem;
      padding-top: 0rem;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}
.connect {
  position: absolute;
  left: 50%;
  font-weight: 500;
  font-size: 1.2rem;
  top: 25%;
  transform: translateX(-50%) translateY(47px);
  display: flex;
  gap: 5px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
@media (max-width:480px) {
  font-size: 14px;
  left: 46%;
  transform: translateX(-50%) translateY(67px);
  
}
}

.hero {
  display: flex;
  justify-content: center;
  align-items: self-start;
  height: 100vh;
  flex-direction: column;
  h2 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -2px;
  }
  .headerTwo {
    font-size: 2rem;
    text-align: center;
  }
  .headerOne {
    font-size: 4rem;
  }
}

