.header {
  position: relative;
  .logo {
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: -15px;
    padding-left: 3rem;
    padding-top: 1rem;
    @media (max-width:480px) {
        font-size: 2.5rem;
        letter-spacing: -11px;
        padding-left: 0rem;
        padding-top: 0rem;
    
    }
    a {
      text-decoration: none;
      color: black;
    }
  }

}
.connect{
  position: absolute;
  left: 50%;
  font-weight: 500;
  font-size: 1.2rem;
  top: 25%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
  align-items: center;
}

.hero {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: start;
  max-height: 100vh;
  width: 100vw;
 
  p {
    max-width: 100%;
    overflow: hidden;
    font-size: clamp(3.00rem, calc(2.16rem + 4.19vw), 7.19rem);
    font-weight: bold;
    &:first-child {
      padding-left: 11px;
      letter-spacing: 8px;
    }
    &:nth-child(2) {
      margin-top: -3rem;
    }
  }
  span {
    font-size: 2rem;
    font-weight: 500;
  }
}
