.container {
  display: flex;
  height: 100vh;
  padding-top: 4.1rem;
  justify-content: center;
  align-items: center;
  @media (max-width: 480px) {
    align-items: normal;
    padding-top: 6rem;
  }
  @media (max-width: 360px) {
    align-items: normal;
    padding-top: 4rem;
  }
}

.projectContainer {
  position: relative;
  width: 100%;
}

.projectContainer div {
  background-color: white;
  z-index: 20;
  border-top: 1px solid black;
  cursor: pointer;
  position: relative;
  margin-bottom: -2.5vw;
  @media (max-width: 480px) {
    margin-bottom: -6vw;
    font-weight: 500;
    padding: 10px 0;
  }
} 

.projectContainer div p {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  font-size:  clamp(1.56rem, 0.58rem + 3.9vw, 4.5rem);
  padding-left: 10px;
  text-transform: uppercase;
  pointer-events: none;

  @media (max-width:640px) {
  font-size:  clamp(1.5rem, 0.58rem + 5vw, 4.5rem);
  }
  @media (max-width:480px) {
    font-size:  clamp(1.8rem, 0.58rem + 4.5vw, 4.5rem);
    }

}
