.container {
  display: flex;
  height: 100vh;
  padding-top: 1.5rem;
  justify-content: center;
  align-items: center;

  @media (max-width: 480px) {
    align-items: normal;
    padding-top: 2rem;
  }

  @media (max-width: 360px) {
    align-items: normal;
    padding-top: 1rem;
  }
}

.projectContainer {
  position: relative;
  width: 100%;

  @media (max-width: 480px) {
    padding-top: 3rem;
  }
}

.projectContainer div {
  background-color: white;
  z-index: 20;
  border-top: 1px solid black;
  cursor: pointer;
  position: relative;
  margin-bottom: -2vw;
  font-weight: 500;

  @media (max-width: 980px) {
    margin-bottom: -3vw;
    font-weight: 500;
    // padding: 10px 0;
  }

  @media (max-width: 640px) {
    margin-bottom: -4vw;
    font-weight: 500;
    // padding: 10px 0;
  }

  @media (max-width: 480px) {
    margin-bottom: -5vw;
    font-weight: 500;
    // padding: 10px 0;
  }

}

.projectContainer div p {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  font-size: clamp(1.9rem, 1.7375rem + 1.1818vi, 3.2rem);
  padding-left: 10px;
  text-transform: uppercase;
  pointer-events: none;

}