.logo {
  display: flex;
  cursor: pointer;
  font-weight: 700;
  position: absolute;
  padding: 1.5rem;
  z-index: 49;
  p {
    margin: 0px;
    transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  .name {
    display: flex;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 5px;
    transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    p {
      position: relative;
      transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
      &:nth-of-type(2) {
        padding-left: 0.3em;
      }
      &:nth-of-type(3) {
        position: absolute;
        left: 120px;
        padding-left: 3.3em;
      }
    }
  }
  .copyright{
    font-size: 10px;
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 50px;
    padding: 2px;
  }
  &:hover {
    .copyright {
      transform: rotate(360deg);
    }
    .name {
      padding-right: 30px;
      .codeBy {
        transform: translateX(-100%);
      }
      .dennis {
        transform: translateX(-100px);
      }
      .snellenberg {
        transform: translateX(-100px);
      }
    }
  }
}
