.button {
  width: 8.5rem;
  height: 8.5rem;

  color: white;
  background: #000;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s linear;
  @media (max-width:900px) {
    display: none;
  }
  &:hover {
    opacity: 0.9;
  }
}
