.button {
    width: 7rem;
    height: 7rem;
    background: rgb(14,14,14);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s linear;
    &:hover{
      opacity: 0.9;
    }
  }