.container {
  width: 100%;
}

.container .item {
  -webkit-box-direction: 100%;
  padding: 0.124em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.3rem, calc(1.24rem + 1vw), 2.7rem);
  font-weight: 500;
  border-bottom: 2px solid #000;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  width: 100vw;
}

.img {
  transition: all 1s cubic-bezier(0.075, 0.8, 0.165, 1);
  align-self: center;
  justify-self: center;
  overflow: hidden;
  width: 0;
  transition: 0.5s linear;
}

.item:hover {
  background-color: #000;
  color: white;
}

.item:hover .img {
  width: fit-content;
}
