.footer{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-size: 14px;
    gap: 2rem;
    padding-bottom: 1rem;
    &:first-child{
      justify-self: flex-start;
    }
  @media (max-width:480px) {
    font-size:1rem;
    gap: 10px;
    padding-bottom: 3rem;
    padding-left: 0;
    
  }
   & > *{
    transition: 0.3 ease-in;
    &:hover{
        opacity: 0.8;
    }
   }
}
